alias ytd='yt-dlp -f "bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4]" -o "%(id)s" '
alias ytt='yt2turboscribe'

function v2aac() {
    local input="$1"
    local basename="${input%.*}"          # remove extension
    local output="${basename}.aac"        # output filename
    ffmpeg -i "${input}" -vn -acodec copy "${output}"
}
